.pagination {
  border: 1px solid #CDCDCD;
  border-radius: 3px; 
  margin: 30px auto;
  width:1098px;
  overflow: auto;
  text-align: center;
}

.pagination a {
  float: left;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 25px; 
  border-right: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: ;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ff00), color-stop(100%, lightgreen));
  background-image: -webkit-linear-gradient(#80ff00, lightgreen);
  background-image: linear-gradient(#80ff00, lightgreen); 
}
  .pagination a:hover, .pagination a:focus, .pagination a:active {
    background-color: #80ff00;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
    background-image: linear-gradient(#e4e4e4, #cecece); 
  }
    
  .pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
    color: #A8A8A8;
    cursor: default; }

.pagination a:first-child {
  border: none;
  border-radius: 2px 0 0 2px; 
  margin-left: 340px;
  
  }



.pagination input {
  float: left;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  vertical-align: middle;
  text-align: center; 
  font-size: 15px; }
