body{
	padding: 0px;
}

div{
	margin: 0 auto;
}

.header{
	width: 900px;
	height:50px;
	text-align: center;
}

.navi li{
	list-style: none;
}

.navi li ol {
	display:inline;
}

.navi li ol a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	line-height: 3;
}

.contanier {
	width: 80%;
	overflow: auto;
}

.content {

	margin-top:20px;
	width: 900px;
	overflow: auto;
}

.uploadTable,#shippingDetailTable,.addTalbe,.listTalbe,.searchPanel,.searchTable{
	margin: 0 auto;
	margin-top:20px;
}

#addShippingTable td{
	border-bottom: 1px solid white;
}

.title {
	background-color: #c0c0c0;
}

.error{
	color:red;
}

.success{
	color:green;
}

table{
	
}

th{
	color: white;
	width:150px;
	background-color:#80ff00;
}

.backgroundColor80ff00{
	background-color:#80ff00;
}

.even {
	background-color:#80ff00;
	color: white;
}

select{
	width:150px;
}
