<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
          <property name="connection.url">jdbc:mysql://localhost:3333/australiaBuy</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property> 
       
        
       	<!-- Database connection settings home -->
       <!--   <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/australiaBuy</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        -->
        
        <!-- Database connection settings server -->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
          <property name="connection.url">jdbc:mysql://198.38.82.101:3306/s3157015_daigou</property>
        <property name="connection.username">s3157015_shou</property>
        <property name="connection.password">shou123</property>-->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
 		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
         <property name="hibernate.jdbc.batch_size">50</property>

        <mapping resource="po/Customer.hbm.xml"/>
		<mapping resource="po/Shipping.hbm.xml"/>
		<mapping resource="po/ShippingDetail.hbm.xml"/>
		<mapping resource="po/ShippingCompany.hbm.xml"/>
		<mapping resource="po/Brand.hbm.xml"/>
		<mapping resource="po/Item.hbm.xml"/>
		<mapping resource="po/WeekOrderDetail.hbm.xml"/>
    </session-factory>

</hibernate-configuration>